

@using Practica_Coches_MVC.Models
@model IEnumerable<Practica_Coches_MVC.Models.Vehiculo>
@{
    ViewBag.Title = "VerVehiculos";
    var vehiculo2 = Model;
    var vehiculo = ViewBag.vehiculo as List<Vehiculo>;
    int n = 0;

}
@if (ViewData["llamada"]=="busqueda")
{
    vehiculo = (List<Vehiculo>) vehiculo2;
}
else
{
    vehiculo2 = vehiculo;
}
    @*<table class="table table-bordered">*@
        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo1.Descripcion)
            </th>
            <th></th>
        </tr>*@

        @*@foreach (var item in vehiculo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coste)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo1.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idVechiculo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idVechiculo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idVechiculo })
                </td>
            </tr>
        }*@
        @foreach (var item in vehiculo)
        {
            if (n % 3 == 0)
            {
                @Html.Raw("<div class=\"row\">")
            }

            <div class="col-md-4 table-bordered text-center table-hover">
                
                    <h2>@item.Matricula</h2>
                    <h3>@item.Marca @item.Modelo</h3>
                    <p>@item.Coste</p>
                
            </div>

            if (++n % 3 == 0 || n == vehiculo.Count())
            {
                @Html.Raw("</div>")
            }

        }
    @*</table>*@
